.banner2{
	max-width:1303px ;
min-height:100px ;
background:blue;
margin: 0 auto;	
padding: 30px;
}

.banner2 h1{
	font-family: times new roman;
	color: white;
	text-align:center;
}


.Contactenos{
	padding: 60px 200px;
	margin-top: 40px;
	font-size: 20px;
}


.Contactenos2{
	text-align: right;
	padding: 20px 100px;
	margin-left: 50px;
	margin-top: -100px;
	font-size: 20px;
}


.contactenos{
	width: 1303px;
	min-height: 90px;
	background: white;
	float: right;
	box-sizing: border-box;
	padding: 5px 0px;
}


footer{
	max-width: 1303px;
	background: blue;
	margin: 0 auto;
	border-radius:0 0 20px 20px ;
	color: white;
	text-align: center;
	padding: 30px;
	box-sizing: border-box;
	font-family: times new roman;
	font-size: 18px;
}

@keyframes entradalogo{
	0%{
		transform: translateY(200px);
	}
}


html{
	scroll-behavior: smooth;
}


section[id]{
	scroll-margin-top: 70px;
}